<h1 mat-dialog-title>Ramsch</h1>
<div mat-dialog-content>
  <p>Bitte gib die Punkte ein:</p>
  <div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <span style="width: 120px; font-weight: bold;">{{ persons[0].name }}:</span>
      <mat-form-field appearance="fill" style="flex-grow: 1;">
        <input matInput [(ngModel)]="numbers[0]" />
      </mat-form-field>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <span style="width: 120px; font-weight: bold;">{{ persons[1].name }}:</span>
      <mat-form-field appearance="fill" style="flex-grow: 1;">
        <input matInput [(ngModel)]="numbers[1]" />
      </mat-form-field>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <span style="width: 120px; font-weight: bold;">{{ persons[2].name }}:</span>
      <mat-form-field appearance="fill" style="flex-grow: 1;">
        <input matInput [(ngModel)]="numbers[2]" />
      </mat-form-field>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <span style="width: 120px; font-weight: bold;">{{ persons[3].name }}:</span>
      <mat-form-field appearance="fill" style="flex-grow: 1;">
        <input matInput [(ngModel)]="numbers[3]" />
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button color="primary" (click)="onSave()">Speichern</button>
</div>
