<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name</label>
  <input id="firstName" formControlName="firstName">

  <label for="lastName">Last Name</label>
  <input id="lastName" formControlName="lastName">

  <label for="birthdate">Birthdate</label>
  <input id="birthdate" type="date" formControlName="birthdate">

  <label for="department">Department</label>
  <input id="department" formControlName="department">

  <button type="submit" [disabled]="form.invalid">Create Person</button>
</form>
