.container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: column; /* Elemente werden vertikal angeordnet */
  align-items: center; /* Überschrift in der Mitte */
  position: relative; /* Ermöglicht die absolute Positionierung des Buttons */
  padding: 16px;
}

.round-button {
  position: absolute;
 top: 15px;
  right: 16px; /* Abstand vom rechten Rand */
}

.left-button {
  position: absolute;
 top: 15px;
  left: 16px;
  font-size: xx-large;
}

.red-button.selected {
  background-color: red !important;
  color: white;
}

.title {
  margin: 0; /* Entfernt unnötige Abstände */
}

button {
  margin-left: auto; /* Sorgt dafür, dass der Button an den rechten Rand geschoben wird */
}

button.selected {
  background-color: #3ae640 !important;
  color: white;
}

.winner-selection {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.winner-selection button {
  width: 100%;
  height: 50px;
  padding: 10px;
  text-align: center;
}

.points-input {
  margin: 10px 0;
  background-color: white;
  height: 56px;
  border-radius: 5px;
}

.button-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.button-group button {
  margin: 5px;
  background-color: #057979;
}

.grid-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.image-placeholder .image-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #f0f0f0;
  margin-right: 20px;
}

.keypad .key-row {
  display: flex;
  justify-content: center;
}

.key-button {
  width: 60px;
  height: 60px;
  margin: 5px;
}

.ok-button {
  background-color: whitesmoke !important;
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

h3 {
  margin-top: 20px;
}

.solo-row {
  background-color: lightblue; /* Beispiel für Solo */
}

.ruf-row {
  background-color: lightgreen; /* Beispiel für Ruf */
}

.geier-row {
  background-color: lightcoral; /* Beispiel für Geier */
}

.ramsch-row {
  background-color: lightyellow; /* Beispiel für Ramsch */
}
