<h1 mat-dialog-title>Neue Runde</h1>
<div mat-dialog-content>
  <p>Bitte gib die Namen der Spieler ein:</p>
  <div >
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Spieler 1</mat-label>
      <input matInput [(ngModel)]="playerNames[0]" />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Spieler 2</mat-label>
      <input matInput [(ngModel)]="playerNames[1]" />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Spieler 3</mat-label>
      <input matInput [(ngModel)]="playerNames[2]" />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Spieler 4</mat-label>
      <input matInput [(ngModel)]="playerNames[3]" />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button color="primary" (click)="onSave()">Speichern</button>
</div>
